.layout{


    padding-left: 12vh;
    padding-right: 12vh;
    background-color: blanchedalmond;
}

.layout-fluid{
    padding-left: 24px;
    padding-right: 24px;
}

@media screen and(max-width: 768px) {

    .layout{
        padding-left: 24px;
        padding-right: 24px;
    }
    
}

